!!!
%html
  %head
    %title Jenkins CI Jobs Status
    %link(rel="stylesheet" href="css/all_reports.css") 
      %body
        %iframe{:src => "/15H", :height => "1200px;", :align => "left;", :width => "33%;", :scrolling => "no;"}
        %iframe{:src => "/15G", :height => "1200px;", :align => "center;", :width => "33%;", :scrolling => "no;"}
        %iframe{:src => "/15F", :height => "1200px;", :align => "right;", :width => "32%;", :scrolling => "no;"}

